.button-container {
    height: 100%;
    width: fit-content;
    min-width: 0;
    box-sizing: border-box;
    background: var(--background-darker);
    display: flex;
    flex-direction: column;

    .top, .middle, .bottom {
        width: 100%;
        flex: 1;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 5px;
        gap: 5px;
    }

    .top {
        justify-content: start;
    }

    .middle {
        justify-content: center;
    }

    .bottom {
        justify-content: end;
    }

    .button {
        width: 35px;
        height: 35px;
        background: var(--button-background);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        border-radius: 5px;
        transition: .125s;
        cursor: pointer;

        color: var(--button-color);
        &:hover {
            color: var(--button-hover-color);
        }

        &.hidden {
            display: none;
        }
    }

    .multi-button-container {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: fit-content;
        height: fit-content;
        gap: 5px;
        border-radius: 10px;
        background: var(--background-semidark);
    }
}