:root {
    --background: #292929;
    --background-semidark: #1f1f1f;
    --background-darker: #141414;

    --button-background: #292828;
    --button-color: #787070;
    --button-hover-color: #a89d9d;
}