:root {
    --background: #292929;
    --background-semidark: #1f1f1f;
    --background-darker: #141414;

    --button-background: #292828;
    --button-color: #787070;
    --button-hover-color: #a89d9d;

    --dialogue-window-dark: #292929;
    --dialogue-window-darker: #1f1f1f;
    --dialogue-window-darkest: #141414;
    --dialogue-window-light: #787070;
    --dialogue-window-lighter: #a89d9d;
}